* text=auto eol=lf
*.png binary
*.ico binary
*.woff2 binary

# Lockfiles are written by uv and npm, never by hand: GitHub collapses them in diffs.
uv.lock linguist-generated
package-lock.json linguist-generated
